@use "sass:color";

:root {
    font-family: "Satoshi", system-ui, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #1b1e28;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

$bg: #1b1e28;
$cta: #5de4c7;
$red: #d75b5b;
$blue: #89ddff;

@mixin disable-border {
    border: 0px none rgba(black, 0);
}

@mixin round($left: 0px, $right: 0px) {
    border-radius: $left $right $right $left;
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
}

h1 {
    font-size: 4em;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: block;
}

#sub-title {
    font-size: 1.2em;
    margin: -5px 0 0 5px;
    display: inline;
}

a {
    color: darken(white, 30%);
    text-decoration: none;
}

a:hover {
    color: darken(white, 10%);
}

ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

form {
    margin: 80px 0;
    position: relative;

    #url {
        width: 700px;
        height: 3.5rem;
        padding: 0.2rem 2rem;
        font-size: 16px;
        line-height: 2.5rem;
        background-color: #343a4e;
        @include disable-border;
        @include round(0.6rem, 0.6rem);
        transition: background-color 0.3s;
    }

    #url:focus {
        outline: none;
        background-color: darken(#343a4e, 5%);
    }

    .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $cta;
        display: block;
        height: 100%;
        min-width: 8rem;
        @include disable-border;
        @include round(0px, 0.6rem);
        font-size: 20px;
        color: black;
        font-weight: 500;
        z-index: 10;
        transition: background-color 0.2s;
    }

    .btn:hover {
        background-color: darken($cta, 20%);
    }
    .btn:active {
        background-color: darken($cta, 40%);
    }
}

#result {
    display: flex;
    place-items: center;
    justify-content: space-between;
    background-color: darken($bg, 3%);
    width: 80%;
    padding: 1em 1.5em;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 50px;
    @include round(0.8em, 0.8em);

    button {
        background-color: $blue;
        color: black;
        @include disable-border;
        padding: 0.4em 1.5em;
        @include round(0.4em, 0.4em);
        font-size: 1.2rem;
        font-weight: 500;
        transition: background-color 0.2s;
    }

    button:hover {
        background-color: darken($blue, 15%);
    }

    button:active {
        background-color: darken($blue, 30%);
    }
}

li {
    list-style: none;
    background-color: #303340;
    @include round(0.75em, 0.75em);
    padding: 15px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 400px;

    #heading {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 5px;
    }

    .buttons {
        display: flex;
        gap: 1em;
    }

    button {
        width: 80px;
        font-size: 1.2rem;
        background-color: $red;
        padding: 0.4rem 0.6rem;
        @include disable-border;
        @include round(0.4em, 0.4em);
        color: black;
        transition: background-color 0.2s;
    }

    #blue {
        background-color: $blue;
    }

    #blue:hover {
        background-color: darken($blue, 15%);
    }

    #blue:hover {
        background-color: darken($blue, 30%);
    }

    button:hover {
        background-color: darken($red, 10%);
    }

    button:active {
        background-color: darken($red, 30%);
    }
}
